<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' type='text/css' href='/highlight.css'>
	</head>
	<body>
		{{!content}}

		<button onclick="window.location.pathname = '/raw' + window.location.pathname;"></button>
		<script>
			function highlight(){
				let spans = document.querySelectorAll('span.hll');
				for(let i = 0; i < spans.length; i++)
					spans[i].classList.remove('hll');

				let hash = this.location.hash.substring(1);
				document.querySelector('span#' + hash).classList.add('hll');
			}

			window.addEventListener('hashchange', highlight, false);
			highlight();
		</script>
	</body>
</html>
